In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(3),index=list('CAB'))

In [3]:
ser1

C    0
A    1
B    2
dtype: int32

In [4]:
# apply sort index to series
ser1.sort_index()

A    1
B    2
C    0
dtype: int32

In [20]:
# apply sort values to series
ser1.sort_values()

C    0
A    1
B    2
dtype: int32

In [24]:
# import random library
from numpy.random import randn

In [33]:
# create new series with 10 random numbers
ser2 = Series(randn(10))

In [38]:
# get series rank 
ser2.rank()

,0,1,2,3,4,5,6,7,8,9
0,10.000000,2.000000,9.000000,4.000000,5.000000,7.000000,3.000000,8.000000,6.000000,1.00000
1,1.990443,-1.594579,0.783796,-0.332107,0.106549,0.450165,-0.356056,0.583624,0.157457,-1.65674