In [23]:
# standard imports

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [25]:
# import webbrowser
# wikipedia page for NFL win/loss records

import webbrowser
webbrowser.open('https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records')

True

In [47]:
# create dataframe from clipboard read

df = pd.read_clipboard()
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East
5,6,Miami Dolphins,848,467,377,4,0.553,1966,AFC East
6,7,Minnesota Vikings,918,495,412,11,0.545,1961,NFC North
7,8,Kansas City Chiefs,933,495,426,12,0.537,1960,AFC West
8,9,Pittsburgh Steelers,"1,220",643,556,21,0.536,1933,AFC North
9,10,San Francisco 49ers,"1,050",551,485,14,0.531,1950,NFC West
10,11,New York Giants,"1,353",702,618,33,0.531,1925,NFC East
11,12,Indianapolis Colts[d],"1,014",534,473,7,0.530,1953,AFC South
12,13,Denver Broncos,932,488,434,10,0.529,1960,AFC West
13,14,Las Vegas Raiders,932,481,440,11,0.522,1960,AFC West
14,15,Seattle Seahawks,708,367,340,1,0.519,1976,NFC West
15,16,Los Angeles Rams,"1,183",587,575,21,0.505,1937,NFC West
16,17,Washington Football Team,"1,250",610,612,28,0.499,1932,NFC East
17,18,Los Angeles Chargers,932,459,462,11,0.498,1960,AFC West
18,19,Cleveland Browns[e],"1,002",486,505,11,0.491,1950,AFC North
19,20,Philadelphia Eagles,"1,236",590,619,27,0.488,1933,NFC East
20,21,Tennessee Titans,932,451,475,6,0.487,1960,AFC South
21,22,Carolina Panthers,416,200,215,1,0.482,1995,NFC South
22,23,Buffalo Bills,932,438,486,8,0.474,1960,AFC East
23,24,New Orleans Saints,834,387,442,5,0.467,1967,NFC South
24,25,Detroit Lions,"1,281",567,681,33,0.456,1930,NFC North
25,26,Cincinnati Bengals,820,363,452,5,0.446,1968,AFC North
26,27,New York Jets,932,410,514,8,0.444,1960,AFC East
27,28,Houston Texans,304,135,169,0,0.444,2002,AFC South
28,29,Atlanta Falcons,848,369,473,6,0.439,1966,NFC South
29,30,Arizona Cardinals,"1,378",566,771,41,0.426,1920,NFC West
30,31,Jacksonville Jaguars,416,177,239,0,0.425,1995,AFC South
31,32,Tampa Bay Buccaneers,708,278,429,1,0.393,1976,NFC South

In [48]:
# get the dataframe columns
df
df.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [49]:
# get the values of a specific columns
df['Rank']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
Name: Rank, dtype: int64

In [50]:
# get the values of a column with spaces in name
df['Pct.']

0     0.569
1     0.569
2     0.564
3     0.563
4     0.562
5     0.553
6     0.545
7     0.537
8     0.536
9     0.531
10    0.531
11    0.530
12    0.529
13    0.522
14    0.519
15    0.505
16    0.499
17    0.498
18    0.491
19    0.488
20    0.487
21    0.482
22    0.474
23    0.467
24    0.456
25    0.446
26    0.444
27    0.444
28    0.439
29    0.426
30    0.425
31    0.393
Name: Pct., dtype: float64

In [51]:
# get values from multiple columns
DataFrame(df,columns=['Pct.', 'Team'])

     Pct.                      Team
0   0.569         Green Bay Packers
1   0.569            Dallas Cowboys
2   0.564          Baltimore Ravens
3   0.563             Chicago Bears
4   0.562      New England Patriots
5   0.553            Miami Dolphins
6   0.545         Minnesota Vikings
7   0.537        Kansas City Chiefs
8   0.536       Pittsburgh Steelers
9   0.531       San Francisco 49ers
10  0.531           New York Giants
11  0.530     Indianapolis Colts[d]
12  0.529            Denver Broncos
13  0.522         Las Vegas Raiders
14  0.519          Seattle Seahawks
15  0.505          Los Angeles Rams
16  0.499  Washington Football Team
17  0.498      Los Angeles Chargers
18  0.491       Cleveland Browns[e]
19  0.488       Philadelphia Eagles
20  0.487          Tennessee Titans
21  0.482         Carolina Panthers
22  0.474             Buffalo Bills
23  0.467        New Orleans Saints
24  0.456             Detroit Lions
25  0.446        Cincinnati Bengals
26  0.444             New York Jets
27  0.444            Houston Texans
28  0.439           Atlanta Falcons
29  0.426         Arizona Cardinals
30  0.425      Jacksonville Jaguars
31  0.393      Tampa Bay Buccaneers

In [52]:
# get values for column that doesn't exist
DataFrame(df,columns=['Pct.', 'Team','Stadium'])

     Pct.                      Team  Stadium
0   0.569         Green Bay Packers      NaN
1   0.569            Dallas Cowboys      NaN
2   0.564          Baltimore Ravens      NaN
3   0.563             Chicago Bears      NaN
4   0.562      New England Patriots      NaN
5   0.553            Miami Dolphins      NaN
6   0.545         Minnesota Vikings      NaN
7   0.537        Kansas City Chiefs      NaN
8   0.536       Pittsburgh Steelers      NaN
9   0.531       San Francisco 49ers      NaN
10  0.531           New York Giants      NaN
11  0.530     Indianapolis Colts[d]      NaN
12  0.529            Denver Broncos      NaN
13  0.522         Las Vegas Raiders      NaN
14  0.519          Seattle Seahawks      NaN
15  0.505          Los Angeles Rams      NaN
16  0.499  Washington Football Team      NaN
17  0.498      Los Angeles Chargers      NaN
18  0.491       Cleveland Browns[e]      NaN
19  0.488       Philadelphia Eagles      NaN
20  0.487          Tennessee Titans      NaN
21  0.482         Carolina Panthers      NaN
22  0.474             Buffalo Bills      NaN
23  0.467        New Orleans Saints      NaN
24  0.456             Detroit Lions      NaN
25  0.446        Cincinnati Bengals      NaN
26  0.444             New York Jets      NaN
27  0.444            Houston Texans      NaN
28  0.439           Atlanta Falcons      NaN
29  0.426         Arizona Cardinals      NaN
30  0.425      Jacksonville Jaguars      NaN
31  0.393      Tampa Bay Buccaneers      NaN

In [53]:
# get rows from dataframe - first 3
df.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North

In [54]:
# get rows from dataframe - *last* 3
df.tail(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
29,30,Arizona Cardinals,"1,378",566,771,41,0.426,1920,NFC West
30,31,Jacksonville Jaguars,416,177,239,0,0.425,1995,AFC South
31,32,Tampa Bay Buccaneers,708,278,429,1,0.393,1976,NFC South

In [93]:
# retrieve rows for a particular index 
#~~TODO: df.ix is deprecated - what is the replacement method?
# DataFrame(df,index=[3,7,9])
df.loc[1]

Rank                             2
Team                Dallas Cowboys
GP                             930
Won                            526
Lost                           398
Tied                             6
Pct.                         0.569
First NFL season              1960
Division                  NFC East
Name: 1, dtype: object

In [62]:
# assign value for a particular column
df_newcol = DataFrame(df,columns=['Pct.', 'Team','Stadium'])
df_newcol['Stadium'] = 'AT & T'

In [65]:
# assign range as value for a particular col
df_newcol['Stadium'] = np.arange(32)

In [71]:
# create series for two specific stadiums
series = Series(['AT & T Stadium','Mercedes Benz Stadium'], index=[1,28])

In [94]:
# input new series into dataframe
df['Stadiums'] = series

In [96]:
# delete column 
df = df.drop(columns=['Stadiums'])

# alternative method
del df['Stadiums']

KeyError: "['Stadiums'] not found in axis"

In [91]:
# create dict with cities and populations
my_dict = [{'name':'Atlanta','population':400000},{'name':'Boston','population':1000000}]

# alternative way of doing it, same result and less text
my_dict = {'name':['Atlanta','Boston'],'population':[400000,1000000]}

In [89]:
# create dataframe from dict
pd.DataFrame(my_dict)

      name  population
0  Atlanta      400000
1   Boston     1000000