In [1]:
# standard imports

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# import webbrowser
# wikipedia page for NFL win/loss records

import webbrowser
webbrowser.open('https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records')

True

In [5]:
# create dataframe from clipboard read

df = pd.read_clipboard()
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,400,225,174,1,0.564,1996.000,AFC,North,None
4,Chicago,Bears,"1,418",777,599,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,932,519,404,9.000,0.562,1960,AFC,East
6,Miami,Dolphins,848,467,377,4,0.553,1966.000,AFC,East,None
7,Minnesota,Vikings,918,495,412,11,0.545,1961.000,NFC,North,None
8,Kansas,City,Chiefs,933,495,426,12.000,0.537,1960,AFC,West
9,Pittsburgh,Steelers,"1,220",643,556,21,0.536,1933.000,AFC,North,None
10,San,Francisco,49ers,"1,050",551,485,14.000,0.531,1950,NFC,West
11,New,York,Giants,"1,353",702,618,33.000,0.531,1925,NFC,East
12,Indianapolis,Colts[d],"1,014",534,473,7,0.530,1953.000,AFC,South,None
13,Denver,Broncos,932,488,434,10,0.529,1960.000,AFC,West,None
14,Las,Vegas,Raiders,932,481,440,11.000,0.522,1960,AFC,West
15,Seattle,Seahawks,708,367,340,1,0.519,1976.000,NFC,West,None
16,Los,Angeles,Rams,"1,183",587,575,21.000,0.505,1937,NFC,West
17,Washington,Football,Team,"1,250",610,612,28.000,0.499,1932,NFC,East
18,Los,Angeles,Chargers,932,459,462,11.000,0.498,1960,AFC,West
19,Cleveland,Browns[e],"1,002",486,505,11,0.491,1950.000,AFC,North,None
20,Philadelphia,Eagles,"1,236",590,619,27,0.488,1933.000,NFC,East,None
21,Tennessee,Titans,932,451,475,6,0.487,1960.000,AFC,South,None
22,Carolina,Panthers,416,200,215,1,0.482,1995.000,NFC,South,None
23,Buffalo,Bills,932,438,486,8,0.474,1960.000,AFC,East,None
24,New,Orleans,Saints,834,387,442,5.000,0.467,1967,NFC,South
25,Detroit,Lions,"1,281",567,681,33,0.456,1930.000,NFC,North,None
26,Cincinnati,Bengals,820,363,452,5,0.446,1968.000,AFC,North,None
27,New,York,Jets,932,410,514,8.000,0.444,1960,AFC,East
28,Houston,Texans,304,135,169,0,0.444,2002.000,AFC,South,None
29,Atlanta,Falcons,848,369,473,6,0.439,1966.000,NFC,South,None
30,Arizona,Cardinals,"1,378",566,771,41,0.426,1920.000,NFC,West,None
31,Jacksonville,Jaguars,416,177,239,0,0.425,1995.000,AFC,South,None
32,Tampa,Bay,Buccaneers,708,278,429,1.000,0.393,1976,NFC,South

In [8]:
# get the dataframe columns
df
df.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL',
       'season', 'Division'],
      dtype='object')

In [9]:
# get the values of a specific columns
df['Rank']

1            Green
2           Dallas
3        Baltimore
4          Chicago
5              New
6            Miami
7        Minnesota
8           Kansas
9       Pittsburgh
10             San
11             New
12    Indianapolis
13          Denver
14             Las
15         Seattle
16             Los
17      Washington
18             Los
19       Cleveland
20    Philadelphia
21       Tennessee
22        Carolina
23         Buffalo
24             New
25         Detroit
26      Cincinnati
27             New
28         Houston
29         Atlanta
30         Arizona
31    Jacksonville
32           Tampa
Name: Rank, dtype: object

In [10]:
# get the values of a column with spaces in name
df['Pct.']

1     38.000
2      0.569
3      0.564
4      0.563
5      9.000
6      0.553
7      0.545
8     12.000
9      0.536
10    14.000
11    33.000
12     0.530
13     0.529
14    11.000
15     0.519
16    21.000
17    28.000
18    11.000
19     0.491
20     0.488
21     0.487
22     0.482
23     0.474
24     5.000
25     0.456
26     0.446
27     8.000
28     0.444
29     0.439
30     0.426
31     0.425
32     1.000
Name: Pct., dtype: float64

In [11]:
# get values from multiple columns
DataFrame(df,columns=['Pct.', 'Team'])

      Pct.       Team
1   38.000        Bay
2    0.569    Cowboys
3    0.564     Ravens
4    0.563      Bears
5    9.000    England
6    0.553   Dolphins
7    0.545    Vikings
8   12.000       City
9    0.536   Steelers
10  14.000  Francisco
11  33.000       York
12   0.530   Colts[d]
13   0.529    Broncos
14  11.000      Vegas
15   0.519   Seahawks
16  21.000    Angeles
17  28.000   Football
18  11.000    Angeles
19   0.491  Browns[e]
20   0.488     Eagles
21   0.487     Titans
22   0.482   Panthers
23   0.474      Bills
24   5.000    Orleans
25   0.456      Lions
26   0.446    Bengals
27   8.000       York
28   0.444     Texans
29   0.439    Falcons
30   0.426  Cardinals
31   0.425    Jaguars
32   1.000        Bay

In [12]:
# get values for column that doesn't exist
DataFrame(df,columns=['Pct.', 'Team','Stadium'])

      Pct.       Team  Stadium
1   38.000        Bay      NaN
2    0.569    Cowboys      NaN
3    0.564     Ravens      NaN
4    0.563      Bears      NaN
5    9.000    England      NaN
6    0.553   Dolphins      NaN
7    0.545    Vikings      NaN
8   12.000       City      NaN
9    0.536   Steelers      NaN
10  14.000  Francisco      NaN
11  33.000       York      NaN
12   0.530   Colts[d]      NaN
13   0.529    Broncos      NaN
14  11.000      Vegas      NaN
15   0.519   Seahawks      NaN
16  21.000    Angeles      NaN
17  28.000   Football      NaN
18  11.000    Angeles      NaN
19   0.491  Browns[e]      NaN
20   0.488     Eagles      NaN
21   0.487     Titans      NaN
22   0.482   Panthers      NaN
23   0.474      Bills      NaN
24   5.000    Orleans      NaN
25   0.456      Lions      NaN
26   0.446    Bengals      NaN
27   8.000       York      NaN
28   0.444     Texans      NaN
29   0.439    Falcons      NaN
30   0.426  Cardinals      NaN
31   0.425    Jaguars      NaN
32   1.000        Bay      NaN

In [13]:
# get rows from dataframe - first 3
df.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,384",769,577,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,930,526,398,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,400,225,174,1,0.564,1996.000,AFC,North,None

In [14]:
# get rows from dataframe - *last* 3
df.tail(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
30,Arizona,Cardinals,"1,378",566,771,41,0.426,1920.000,NFC,West,None
31,Jacksonville,Jaguars,416,177,239,0,0.425,1995.000,AFC,South,None
32,Tampa,Bay,Buccaneers,708,278,429,1.000,0.393,1976,NFC,South

In [9]:
# retrieve rows for a particular index 
#~~TODO: df.ix is deprecated - what is the replacement method?
# DataFrame(df,index=[3,7,9])
df.loc[3]

Rank        Baltimore
Team           Ravens
GP                400
Won               225
Lost              174
Tied                1
Pct.            0.564
First          1996.0
NFL               AFC
season          North
Division         None
Name: 3, dtype: object

In [16]:
# assign value for a particular column
df_newcol = DataFrame(df,columns=['Pct.', 'Team','Stadium'])
df_newcol['Stadium'] = 'AT & T'

In [17]:
# assign range as value for a particular col
df_newcol['Stadium'] = np.arange(32)

In [18]:
# create series for two specific stadiums



series = Series(['AT & T Stadium','Mercedes Benz Stadium'], index=[1,28])

In [94]:
# input new series into dataframe
df['Stadiums'] = series

In [96]:
# delete column 
df = df.drop(columns=['Stadiums'])

# alternative method
del df['Stadiums']

KeyError: "['Stadiums'] not found in axis"

In [91]:
# create dict with cities and populations
my_dict = [{'name':'Atlanta','population':400000},{'name':'Boston','population':1000000}]

# alternative way of doing it, same result and less text
my_dict = {'name':['Atlanta','Boston'],'population':[400000,1000000]}

In [89]:
# create dataframe from dict
pd.DataFrame(my_dict)

      name  population
0  Atlanta      400000
1   Boston     1000000