In [18]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [13]:
# load excel file into dataframe
dataframe = pd.read_excel('Lec_28_test.xlsx')

In [14]:
dataframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [27]:
df1 = DataFrame(np.arange(25).reshape(5,5),columns=list('ABCDE'), index=[1,2,3,4,5])

In [26]:
df2 = DataFrame(np.arange(25,50,1).reshape(5,5),columns=list('ABCDE'), index=[1,2,3,4,5])

In [30]:
# export dataframe into excel file
with pd.ExcelWriter('Results.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Sheet1', index=0)
    df2.to_excel(writer, sheet_name='Sheet2', index=0)