In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
dframe = DataFrame({
    'k1':list('XXYYZ'),
    'k2':['alpha','beta','alpha','beta','alpha'],
    'dataset1':np.random.randn(5),
    'dataset2':np.random.randn(5)
    })

In [28]:
dframe['dataset1'].reindex(['A','B','C','D',1])

series = Series([1,2,3,4])

series.reindex(['A','B','C','D'])

# dframe['dataset1']
# dframe['k1'].reindex(['A','B','C','D','E'])

A        NaN
B        NaN
C        NaN
D        NaN
1    1.15678
Name: dataset1, dtype: float64

In [6]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

group1

In [8]:
group1.mean()

k1
X    0.099452
Y   -0.178904
Z   -0.356375
Name: dataset1, dtype: float64

In [9]:
cities = np.array(['NY','LA','LA', 'NY', 'NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [10]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.463298
    JAN   -0.635446
NY  FEB    0.277638
    JAN    0.152913
Name: dataset1, dtype: float64

In [15]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.662201 -0.510881
   beta  -0.463298  0.098851
Y  alpha -0.635446 -0.653213
   beta   0.277638 -0.377814
Z  alpha -0.356375 -0.533774

In [16]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [23]:
# Python string formatting information here: https://realpython.com/python-string-formatting/
for name,group in dframe.groupby('k1'):
    print('This is the %s group' % name)
    print(group)
    print('\n')

This is the X group
  k1     k2  dataset1  dataset2
0  X  alpha  0.662201 -0.510881
1  X   beta -0.463298  0.098851


This is the Y group
  k1     k2  dataset1  dataset2
2  Y  alpha -0.635446 -0.653213
3  Y   beta  0.277638 -0.377814


This is the Z group
  k1     k2  dataset1  dataset2
4  Z  alpha -0.356375 -0.533774

In [28]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print ('k1 = %s, k2 = %s' % (k1,k2))
    print(group)
    print('\n')

k1 = X, k2 = alpha
  k1     k2  dataset1  dataset2
0  X  alpha  0.662201 -0.510881


k1 = X, k2 = beta
  k1    k2  dataset1  dataset2
1  X  beta -0.463298  0.098851


k1 = Y, k2 = alpha
  k1     k2  dataset1  dataset2
2  Y  alpha -0.635446 -0.653213


k1 = Y, k2 = beta
  k1    k2  dataset1  dataset2
3  Y  beta  0.277638 -0.377814


k1 = Z, k2 = alpha
  k1     k2  dataset1  dataset2
4  Z  alpha -0.356375 -0.533774

In [34]:
group_dict = dict(list(dframe.groupby(['k1','k2'])))

In [41]:
dframe.dtypes

k1           object
k2           object
dataset1    float64
dataset2    float64
dtype: object

In [50]:
for name, group in dframe.groupby([1,2,1,1], axis=1):
    print('This is the %s group' % name)
    print(group)

This is the 1 group
  k1  dataset1  dataset2
0  X  0.662201 -0.510881
1  X -0.463298  0.098851
2  Y -0.635446 -0.653213
3  Y  0.277638 -0.377814
4  Z -0.356375 -0.533774
This is the 2 group
      k2
0  alpha
1   beta
2  alpha
3   beta
4  alpha

In [54]:
# group the columns according to their data-type

dict_group_by_dtype = dict(list(dframe.groupby(dframe.dtypes, axis = 1)))

In [57]:
dict_group_by_dtype

{dtype('float64'):    dataset1  dataset2
 0  0.662201 -0.510881
 1 -0.463298  0.098851
 2 -0.635446 -0.653213
 3  0.277638 -0.377814
 4 -0.356375 -0.533774,
 dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [73]:
dframe.groupby(['k1','k2']).max()

k1                            XXYYZ
k2          alphabetaalphabetaalpha
dataset1                   -0.51528
dataset2                   -1.97683
dtype: object