In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series([1,2,3,4,1,3,4])

In [3]:
ser1

0    1
1    2
2    3
3    4
4    1
5    3
6    4
dtype: int64

In [4]:
ser1.replace(1,np.nan)

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    3.0
6    4.0
dtype: float64

In [5]:
ser1.replace([1,4],[100,400])

0    100
1      2
2      3
3    400
4    100
5      3
6    400
dtype: int64

In [6]:
ser1.replace({4:np.nan})

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    3.0
6    NaN
dtype: float64

In [7]:
ser1.replace({1:100,4:400})

0    100
1      2
2      3
3    400
4    100
5      3
6    400
dtype: int64