In [10]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
# create 3x3 range 9 matrix

arr = np.arange(9).reshape(3,2)

In [18]:
# concatenate the same matrix twice along axis 1
np.concatenate([arr,arr], axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [19]:
# concatenate the same matrix twice along axis 0
np.concatenate([arr,arr],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [42]:
# create series with values 0, 1, 2 and index T U V
ser1 = Series([0,1,2], index=['T','U','V'])

# create series with values 3, 4 and index X Y
ser2 = Series([3,4], index=['X','Y'])

ser3 = Series([4,5,6], index=['A','B', 'C'])

In [21]:
# concatenate series along default
pd.concat([ser1, ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [43]:
# concatenate series along axis 1 
# TODO: What is happening when specifying axis 1? 
pd.concat([ser1, ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [51]:
pd.concat([ser1,ser2,ser3],axis=1)

     0    1    2
T  0.0  NaN  NaN
U  1.0  NaN  NaN
V  2.0  NaN  NaN
X  NaN  3.0  NaN
Y  NaN  4.0  NaN
A  NaN  NaN  4.0
B  NaN  NaN  5.0
C  NaN  NaN  6.0

In [31]:
# concatenate while creating hierarchical index

pd.concat([ser1,ser2],keys=['ser1','ser2'])

ser1  T    0
      U    1
      V    2
ser2  X    3
      Y    4
dtype: int64

In [39]:
# create two random matrices
# dframe1 3x4 with columns X Y Z
# dframe2 3x3 with columns Y Q X

dframe1 = DataFrame(np.random.randn(4,3), columns=list('XYZ'))
dframe2 = DataFrame(np.random.randn(3,3), columns=list('YQZ'))

In [53]:
# concatenate the two matrices

pd.concat([dframe1,dframe2])

          X         Y         Z         Q
0  0.249909 -0.032340 -1.451242       NaN
1 -0.579354  0.111952  0.959216       NaN
2  0.600497  0.527921 -0.689169       NaN
3 -1.945475 -0.101621 -0.276262       NaN
0       NaN  0.264163 -0.415229  0.000904
1       NaN  0.213733 -0.295598 -0.970442
2       NaN -0.217056  0.488295 -0.857480

In [54]:
# concatenate the two matrices but produce continuous index 
pd.concat([dframe1, dframe2], ignore_index=True)

          X         Y         Z         Q
0  0.249909 -0.032340 -1.451242       NaN
1 -0.579354  0.111952  0.959216       NaN
2  0.600497  0.527921 -0.689169       NaN
3 -1.945475 -0.101621 -0.276262       NaN
4       NaN  0.264163 -0.415229  0.000904
5       NaN  0.213733 -0.295598 -0.970442
6       NaN -0.217056  0.488295 -0.857480