In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
# create df_left
# key X Y Z X Y
# data range 5

df_left = DataFrame({'key':['X','Y','Z','X','Y'], 'data_range':range(5)})
df_left

  key  data_range
0   X           0
1   Y           1
2   Z           2
3   X           3
4   Y           4

In [4]:
# create df_right
# group_data 10 20
# index X Y

df_right = DataFrame({'group_data':[10,20,30]}, index=['X','Y','B'])
df_right

   group_data
X          10
Y          20
B          30

In [5]:
# merge df_left on key and df_right on index
pd.merge(df_left, df_right,left_on='key', right_index=True, how='right')

    key  data_range  group_data
0.0   X         0.0          10
3.0   X         3.0          10
1.0   Y         1.0          20
4.0   Y         4.0          20
NaN   B         NaN          30

In [6]:
# df_left_hr
# column key1 'SF', 'SF', 'LA', 'LA'
# column key2 '10, 20, 20, 30
# column data_set range 5

df_left_hr = DataFrame({'key1':['SF', 'SF', 'LA', 'LA'],'key2':[10,20,20,30],'data_set':np.arange(4)})
df_left_hr

  key1  key2  data_set
0   SF    10         0
1   SF    20         1
2   LA    20         2
3   LA    30         3

In [7]:
# df_right_hr
# data: 5x2 matrix of range 10
# index 
    # LA LA SF SF SF
    # 20 10 10 10 20
# column label
    # col1
    # col2 

df_right_hr = DataFrame(np.arange(10).reshape(5,2), index=[['LA','LA','SF','SF','SF'], [20, 10, 10, 10, 20]], columns=['col1','col2'])
df_right_hr

       col1  col2
LA 20     0     1
   10     2     3
SF 10     4     5
   10     6     7
   20     8     9

In [8]:
# merge left with keys
# merge right by index 

pd.merge(df_left_hr, df_right_hr, left_on=['key1','key2'],right_index=True)

  key1  key2  data_set  col1  col2
0   SF    10         0     4     5
0   SF    10         0     6     7
1   SF    20         1     8     9
2   LA    20         2     0     1

In [10]:
# merge alternatively using join
df_left_hr.join(df_right_hr)

ValueError: cannot join with no overlapping index names