In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [48]:
animals = DataFrame(np.arange(16).reshape(4,4), columns = list('WXYZ'), index = ['Dog', 'Cat', 'Bird', 'Mouse'])

In [49]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [62]:
# TODO: is it still possible to mix iloc and loc using something like ix, as is done in the tutorial?
animals.loc[['Cat'],['W','Y']] = np.nan

In [33]:
behavior_map = {'W':'good', 'X':'bad', 'Y':'good', 'Z':'bad'}

In [36]:
animals_group = animals.groupby(behavior_map, axis=1)

In [39]:
animals_group.sum()

        bad  good
Dog     4.0   2.0
Cat    12.0   0.0
Bird   20.0  18.0
Mouse  28.0  26.0

In [57]:
behave_series = Series(behavior_map)

In [60]:
animals.groupby(behave_series, axis=1).count()

       bad  good
Dog      2     2
Cat      2     2
Bird     2     2
Mouse    2     2

In [66]:
animals.groupby(len).sum()

      W   X     Y   Z
3   0.0   6   2.0  10
4   8.0   9  10.0  11
5  12.0  13  14.0  15

In [69]:
keys = list('ABAB')

In [71]:
animals.groupby([len,keys]).sum()

        W   X     Y   Z
3 A   0.0   1   2.0   3
  B   0.0   5   0.0   7
4 A   8.0   9  10.0  11
5 B  12.0  13  14.0  15

In [75]:
hier_col = pd.MultiIndex.from_arrays([['NY','NY','NY','SF','SF'],[1,2,3,1,2]], names=['City','sub_value'])

In [76]:
dframe_hier = DataFrame(np.arange(25).reshape(5,5),columns=hier_col)

In [80]:
dframe_hier.groupby(['City'],axis=1).sum()

City  NY  SF
0      3   7
1     18  17
2     33  27
3     48  37
4     63  47

In [81]:
dframe_hier

City       NY          SF
sub_value   1   2   3   1   2
0           0   1   2   3   4
1           5   6   7   8   9
2          10  11  12  13  14
3          15  16  17  18  19
4          20  21  22  23  24