In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
dframe = DataFrame({
    'key1': ['A']*2 + ['B']*3,
    'key2':[2,3,3,3,3]
})

In [5]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     3
3    B     3
4    B     3

In [13]:
dframe.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [17]:
dframe.drop_duplicates()

  key1  key2
0    A     2
1    A     3
2    B     3

In [18]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     3

In [21]:
# take the last 
dframe.drop_duplicates(['key1'], keep='last')

  key1  key2
1    A     3
4    B     3