In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [28]:
dframe.pivot('date','variable','value')

variable           A         B         C         D
date
2000-01-03  0.335203  2.153937  0.781416 -0.304369
2000-01-04  0.441641 -1.067851 -0.772210 -0.684376
2000-01-05 -0.671993  0.215013 -0.107387  1.651802
2000-01-06 -0.878983  1.152303 -0.605802  0.633860
2000-01-07 -0.266243  2.931809  1.457732  0.940611
2000-01-10  1.113507  0.342634  0.278914  2.896470
2000-01-11 -0.184947  0.371125  0.080671  0.824149
2000-01-12  1.917976  0.746344 -0.314384  1.464756
2000-01-13  1.624523 -0.965306 -0.275397 -0.661699
2000-01-14  1.869013 -0.493745 -0.774765 -0.967036
2000-01-17 -1.120021 -0.634264 -0.404004  0.864275
2000-01-18 -0.280263 -0.813636  0.619342  1.517693
2000-01-19  1.358662 -0.937377 -0.151260  0.231425
2000-01-20  0.694046 -0.910772  0.494032 -0.167002
2000-01-21 -0.135757  0.741590  0.154788 -1.253325
2000-01-24  0.799105  0.028739 -0.282889 -0.480320
2000-01-25 -0.405807 -0.824080 -0.100105 -2.475746
2000-01-26 -2.216682  0.391679  1.321454  0.397763
2000-01-27  1.382265 -0.458201  0.605253  0.681947
2000-01-28  0.459185  0.466862  0.232526 -1.561115
2000-01-31  0.038837  0.907231  0.905852  0.384635
2000-02-01  2.245971  2.341576 -0.125246  0.049502
2000-02-02 -0.076275 -0.145783  0.557060 -1.667452
2000-02-03 -1.987527  0.516513  0.531731 -0.339800
2000-02-04 -1.280577 -0.661182 -1.055144 -0.014810
2000-02-07 -0.143210  0.748526 -0.351876  1.021201
2000-02-08  0.054533  0.979344 -1.167216  1.546822
2000-02-09 -0.123790  0.317149  0.498026  1.222220
2000-02-10  0.618757 -0.758966 -1.245455 -0.944478
2000-02-11 -0.437766 -0.009452  0.880058 -0.910901

In [27]:
# dframe.pivot('date','variable','value')
dframe[dframe['date']=='2000-01-03']

         date variable     value
0  2000-01-03        A  0.335203
30 2000-01-03        B  2.153937
60 2000-01-03        C  0.781416
90 2000-01-03        D -0.304369

In [29]:
# TODO: Not completely sure what the difference is between unstack() and pivot() is - research futher