In [2]:
# import modules
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [3]:
# create data frame with these columns from dictionary

dframe1 = DataFrame({'key':['X','Z','Y','X','X','A'],'data_set_1':np.arange(6)})
dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   X           3
4   X           4
5   A           5

In [4]:
# create dframe2 from these columns

dframe2 = DataFrame({'key':['Z','X','Y','Z','U'], 'data_set_2':np.arange(5)})
dframe2

  key  data_set_2
0   Z           0
1   X           1
2   Y           2
3   Z           3
4   U           4

In [5]:
# merge the two dataframes

pd.merge(dframe1,dframe2)

  key  data_set_1  data_set_2
0   X           0           1
1   X           3           1
2   X           4           1
3   Z           1           0
4   Z           1           3
5   Y           2           2

In [6]:
# merge the two frames on specified key

pd.merge(dframe1,dframe2,on='key')

  key  data_set_1  data_set_2
0   X           0           1
1   X           3           1
2   X           4           1
3   Z           1           0
4   Z           1           3
5   Y           2           2

In [7]:
# merge the two frames using left join

pd.merge(dframe1,dframe2,on='key',how='left')

  key  data_set_1  data_set_2
0   X           0         1.0
1   Z           1         0.0
2   Z           1         3.0
3   Y           2         2.0
4   X           3         1.0
5   X           4         1.0
6   A           5         NaN

In [8]:
# merge the two frames using right join

pd.merge(dframe1,dframe2,on='key',how='right')

  key  data_set_1  data_set_2
0   Z         1.0           0
1   X         0.0           1
2   X         3.0           1
3   X         4.0           1
4   Y         2.0           2
5   Z         1.0           3
6   U         NaN           4

In [9]:
# merge the two frame using full join

pd.merge(dframe1,dframe2,on='key',how='outer')

  key  data_set_1  data_set_2
0   X         0.0         1.0
1   X         3.0         1.0
2   X         4.0         1.0
3   Z         1.0         0.0
4   Z         1.0         3.0
5   Y         2.0         2.0
6   A         5.0         NaN
7   U         NaN         4.0

In [10]:
# create dataframe

# key X, X, X, Y, Z, Z
# data_set_3 0...6

dframe3 = DataFrame({'key':['X', 'X', 'X', 'Y','Z','Z'],'data_set_3':np.arange(6)})

In [11]:
# create dataframe

# key Y Y X X Z 
# data_set_4 0...5

dframe4 = DataFrame({'key':['Y', 'Y', 'X', 'X', 'Z'],'data_set_4':np.arange(5)})

In [12]:
# merge the two data frames
pd.merge(dframe3,dframe4,on='key',how='outer')

  key  data_set_3  data_set_4
0   X           0           2
1   X           0           3
2   X           1           2
3   X           1           3
4   X           2           2
5   X           2           3
6   Y           3           0
7   Y           3           1
8   Z           4           4
9   Z           5           4

In [13]:
# create df_left

df_left = DataFrame({'key1':['SF','SF','LA'],'key2':np.arange(3),'left_data':[10, 20, 30]})

In [14]:
# create df_right

df_right = DataFrame({'key1':['SF', 'SF', 'LA', 'LA'], 'key2':[1,1,2,2], 'right_data':[40, 50, 60, 70]})

In [15]:
# full join df_left and df_right on key1 and key2

pd.merge(df_left, df_right,on=['key1','key2'],how='outer')

  key1  key2  left_data  right_data
0   SF     0         10         NaN
1   SF     1         20        40.0
2   SF     1         20        50.0
3   LA     2         30        60.0
4   LA     2         30        70.0

In [17]:
# join df_left and df_right only on key1

pd.merge(df_left, df_right, on=['key1'], how='outer')

  key1  key2_x  left_data  key2_y  right_data
0   SF       0         10       1          40
1   SF       0         10       1          50
2   SF       1         20       1          40
3   SF       1         20       1          50
4   LA       2         30       2          60
5   LA       2         30       2          70

In [19]:
# join df_left and df_right only on key1, and specify suffixes
pd.merge(df_left, df_right, on=['key1'], how='outer', suffixes=['_lefty','_righty'])

  key1  key2_lefty  left_data  key2_righty  right_data
0   SF           0         10            1          40
1   SF           0         10            1          50
2   SF           1         20            1          40
3   SF           1         20            1          50
4   LA           2         30            2          60
5   LA           2         30            2          70