In [18]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import sys

In [4]:
# load dataframe from csv

dataframe = pd.read_csv('lec25.csv')
dataframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
# load dataframe from csv, without a header
dataframe = pd.read_csv('lec25.csv',header=0)

In [12]:
# import CSV file using read_table
dataframe = pd.read_table('lec25.csv',sep=',')
dataframe

   q  r  s  t apple
0  2  3  4  5  pear

In [13]:
# import CSV file for a limited number of rows
dataframe = pd.read_table('lec25.csv',sep=',', nrows=1)

In [19]:
# export to CSV file from dataframe
dataframe.to_csv(sys.stdout, sep=',')

,q,r,s,t,apple
0,2,3,4,5,pear

In [20]:
# export to CSV with alternate delimiters

dataframe.to_csv(sys.stdout, sep='\t')

	q	r	s	t	apple
0	2	3	4	5	pear

In [21]:
# export to CSV with alternate delimiters

dataframe.to_csv(sys.stdout, sep='_')

_q_r_s_t_apple
0_2_3_4_5_pear

In [27]:
# export to CSV, selecting specific columns

dataframe.to_csv(sys.stdout, sep='_',columns=["q","r"])

_q_r
0_2_3