In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
np.random.seed(12345)

# TODO: What is the 'seed' function doing?

In [4]:
dframe = DataFrame(np.random.randn(1000,4))

In [5]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [6]:
dframe.tail()

            0         1         2         3
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

In [7]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [8]:
col = dframe[0]

In [9]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [10]:
col[col > 3]

900    3.366626
Name: 0, dtype: float64

In [11]:
col[np.abs(col) > 3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [12]:
# np.abs(dframe) > 3
# filter for dataframe rows where *any* of the columns 
dframe[(np.abs(dframe) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [28]:
(np.abs(dframe[0].loc[0]) > 3)

False

In [66]:
# select multiple DataFrame columns
dframe[[0,1]]

# select multple DataFrame rows
dframe.loc[3:5]

# TODO: How are Data Frames structured, in terms of Numpy Arrays?

          0         1         2         3
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570
5 -0.539741  0.476985  3.248944 -1.021228

In [75]:
# for each element in column index, return True if *any* value meets the condition specified
(dframe.loc[3:5] > 3).any(axis=0)

0    False
1    False
2     True
3    False
dtype: bool

In [77]:
# for each element in row index, return True if *any* value meets the condition specified
(dframe.loc[3:5] > 3).any(axis=1)

3    False
4    False
5     True
dtype: bool

In [89]:
# TODO: this line, which I believe is intended to only replace the values > 3 
#   replaces all values in selected rows; how to target specific values and leave everything else the same?
dframe[(dframe > 3).any(axis=1)] = np.sign(dframe) * 3

In [87]:
dframe.loc[5]

0   -3.0
1    3.0
2    3.0
3   -3.0
Name: 5, dtype: float64