In [31]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [32]:
dframe1 = DataFrame(np.arange(8).reshape(2,4), index=pd.Index(['LA','SF'], name='city'), columns=pd.Index(['A','B','C','D'], name='letter'))

dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [33]:
dframe_st = dframe1.stack()

dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int32

In [34]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [35]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [36]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [37]:
ser1 = Series([0,1,2], index=['Q','X','Y'])

ser2 = Series([4,5,6], index=['X','Y','Z'])

In [39]:
dframe = pd.concat([ser1,ser2], keys=['Alpha','Beta'])
type(dframe)

pandas.core.series.Series

In [30]:
dframe.unstack().stack(dropna=False)

Alpha  Q    0.0
       X    1.0
       Y    2.0
       Z    NaN
Beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64